{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Title -->
  <title>로그인</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'bootstrap-5.0.0-dist/css/bootstrap.css' %}"/>
  <script src="{% static 'jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'bootstrap-5.0.0-dist/js/bootstrap.js' %}"></script>
  <!-- Favicon -->
  <link rel="shortcut icon" href="../../favicon.ico">

  <!-- Google Fonts -->
  <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="{% static 'customize/assets/vendor/font-awesome/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'customize/assets/vendor/hs-megamenu/src/hs.megamenu.css' %}">
  <link rel="stylesheet" href="{% static 'customize/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css' %}">
  <link rel="stylesheet" href="{% static 'customize/assets/vendor/custombox/dist/custombox.min.css' %}">
  <link rel="stylesheet" href="{% static 'customize/assets/vendor/animate.css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'customize/assets/vendor/slick-carousel/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static 'customize/assets/vendor/fancybox/jquery.fancybox.css' %}">

  <!-- CSS Space Template -->
  <link rel="stylesheet" href="{% static 'customize/assets/css/theme.css' %}">
</head>
<body>
<!-- Content -->
    <div class="container mt-lg-9">
        <div class="row">
            <div class="col-sm-6 offset-md-3">
                <div class="card">
                      <div class="p-5 bg-white rounded">
                          <div class="card-body">
                                {% block content %}
                                {% endblock %}
                          </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>