{% extends 'accounts/layout.html' %}
{% load bootstrap4 %}
{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    <div id="signup" data-target-group="idForm">
          <!-- Title -->
          <header class="text-center mb-5">
            <h2 class="h4 mb-0">Please sign up</h2>
            <p>Fill out the form to get started.</p>
          </header>
          <!-- End Title -->
        {% csrf_token %}
        {% bootstrap_form form%}
         <div class="mb-3">
            <button type="submit" class="btn btn-block btn-primary">회원가입</button>
          </div>

      <div class="text-center mb-3">
        <p class="text-muted">
          계정이 있으신가요?
          <a class="js-animation-link" href="{% url 'accounts:login' %}"
             data-link-group="idForm"
             data-animation-in="fadeIn">로그인
          </a>
        </p>
      </div>
    </div>
</form>
{% endblock %}